@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.card {
    width: 100%;
    max-width: 600px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(26, 34, 55, 1);
    margin-bottom: 40px;
}

.card-header {
	background-color: rgba(26, 34, 55, 1);
    color: #fff;
    padding: 10px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-title {
    margin: 0;
	display: flex;
	justify-content: center;
	padding-bottom: 2rem;
}

.card-body {
    padding: 20px;
}

.profile-photo {
    text-align: center;
    margin-bottom: 20px;
}

.profile-photo i {
    font-size: 48px;
    color: rgba(26, 34, 55, 1);
}

.personal-details-row-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.admin_value1 {
    flex-basis: 48%;
}

.admin_count {
    margin-top: 5px;
}
.back_button{
	border: none;
	background:none;
	display: flex;
	
}
.back_button{
	margin-right: 40rem;
	height: 50px;
    width: 50px; /* Adjusted width for a perfect circle */
    /* border-radius: 50%; */
	border: none;
	cursor: pointer;
	background: none;
}
.back_button i:hover {
	color: #F0F0F0;
    background-color: rgba(26, 34, 55, 1);
	border-radius: 10px;
}
.back_button i{
	color: rgba(26, 34, 55, 1);
	/* border: 2px solid white; */
	font-size: 30px;
	font-weight: 600;
	padding: 5px 5px;
	cursor: pointer
}
